{{title}}
<h1>{{title2}}</h1>
<ul>
  <li *ngFor="let nombre of arreglo">
    {{nombre}}
  </li>
</ul>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let imagen of imagenes; first as isFirst" [class.active]="isFirst">
      <img src="{{imagen}}" class="d-block w-100" alt="adsfasdf">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
